<!-- <p>Here's an example of a car with a blue background, to get you started:</p> -->

<!-- <div style="background-color:#77f"> -->
<!--   <img src="/images/car.png"> -->
<!-- </div> -->

<br>
<br>

<table>

  <tr>
    <th></th>
    <% Color.order(:name).each do |row| %>
      <th>
        <b><%= row.name %></b>
      </th>
    <% end %>
  </tr>
  
  <% Vehicle.order(:name).each do |ride| %>
    <tr>
      <th>
        <b><%= ride.name %></b>
      </th>
      <% Color.order(:name).each do |item| %>
        <td>
          <div style="background-color:<%= item.html_color_code %>; margin:10px">
            <img src="/images/<%= ride.image_filename %>">
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>

</table>