<h1>Chemical elements</h1>



<ul>

  <% Element.order(:number).each do |row| %>
    <li>
      <%= row.number %> <a href="/elements/<%= row.number %>"><%= row.name %></a>  
    </li>
  <% end %>

</ul>