<h1>Excerpt from Wikipedia</h1>

<p><Fossils> (from Classical Latin <i>fossilis</i>, literally "obtained by digging" are<br>
the preserved remains or <a href="http://en.wikipedia.org/wiki/Trace_fossil">traces</a> of animals (also known as zoolites),<br>
plants, and other organisms from the remote past. The totality of fossils,<br>
both discovered and undiscovered, and their placement in <i>fossiliferous</i><br>
(fossil-containing) <a href="http://en.wikipedia.org/wiki/Rock_(geology)">rock</a> formations and sedimentary layers (strata) is<br>
known as the fossil record.
</p>


Links:
- http://en.wikipedia.org/wiki/Trace_fossil
- http://en.wikipedia.org/wiki/Rock_(geology)
- http://en.wikipedia.org/wiki/Sedimentary_rock
- http://en.wikipedia.org/wiki/Stratum