<p class="inverse">
  White text on a black background
</p>
<p class="thick_border_padded">
  Text with a thick border and some padding around it
</p>
<p class="small_indented_narrow_box">
  Small text in a narrow box that's indented
</p>
<p class="thin_border_padded">
  Text with a thin border and lots of room around it
</p>
<p class="centered_box">
  Text in a box that's centered
</p>
<p class="blue_glow_text_box">
  Text with a blue glow around it and its box
</p>
