<!-- TODO: write view to match the mockup -->

<h1>Book details</h1>

<h2>Title</h2>
<%= @book.title %>

<h2>Author</h2>
<%= @book.author %>

<h2>ISBN</h2>
<%= @book.isbn %>

<h2>Publication year</h2>
<%= @book.publication_year %>

