<% @cars.each do |car| %>
  <h2>
    Who has the <%= car.model %>?<br>
    <% if car.member_id == nil %>
      No one has the <%= car.model %>
    <% else %>
      <%= car.member.name %> has the <%= car.model %>
    <% end %>
  </h2>
<% end %>
