<% @cars.each do |car| %>
  <h2>
    Who has the <%= car.model %>?<br>
    <% if car.member_id == nil %>
        No one has the <% car.model %>
    <% else %>
      <%= Member.find_by(id: car.member_id).username %> has the <%= car.model %>
    <% end %>
  </h2>
<% end %>
